In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('car data.csv')

In [4]:
df

    Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0       ritz  2014           3.35  ...       Dealer        Manual     0
1        sx4  2013           4.75  ...       Dealer        Manual     0
2       ciaz  2017           7.25  ...       Dealer        Manual     0
3    wagon r  2011           2.85  ...       Dealer        Manual     0
4      swift  2014           4.60  ...       Dealer        Manual     0
..       ...   ...            ...  ...          ...           ...   ...
296     city  2016           9.50  ...       Dealer        Manual     0
297     brio  2015           4.00  ...       Dealer        Manual     0
298     city  2009           3.35  ...       Dealer        Manual     0
299     city  2017          11.50  ...       Dealer        Manual     0
300     brio  2016           5.30  ...       Dealer        Manual     0

[301 rows x 9 columns]

In [3]:
df.shape

(301, 9)

In [5]:
print(df['Seller_Type'].unique())
print(df['Fuel_Type'].unique())
print(df['Transmission'].unique())
print(df['Owner'].unique())

['Dealer' 'Individual']
['Petrol' 'Diesel' 'CNG']
['Manual' 'Automatic']
[0 1 3]

In [6]:
##check missing values
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [7]:
final_dataset=df[['Year','Selling_Price','Present_Price','Kms_Driven','Fuel_Type','Seller_Type','Transmission','Owner']]

In [9]:
final_dataset

     Year  Selling_Price  Present_Price  ...  Seller_Type Transmission Owner
0    2014           3.35           5.59  ...       Dealer       Manual     0
1    2013           4.75           9.54  ...       Dealer       Manual     0
2    2017           7.25           9.85  ...       Dealer       Manual     0
3    2011           2.85           4.15  ...       Dealer       Manual     0
4    2014           4.60           6.87  ...       Dealer       Manual     0
..    ...            ...            ...  ...          ...          ...   ...
296  2016           9.50          11.60  ...       Dealer       Manual     0
297  2015           4.00           5.90  ...       Dealer       Manual     0
298  2009           3.35          11.00  ...       Dealer       Manual     0
299  2017          11.50          12.50  ...       Dealer       Manual     0
300  2016           5.30           5.90  ...       Dealer       Manual     0

[301 rows x 8 columns]

In [12]:
final_dataset['Current Year']=2021

In [13]:
final_dataset.head()

   Year  Selling_Price  Present_Price  ...  Transmission Owner Current Year
0  2014           3.35           5.59  ...        Manual     0         2021
1  2013           4.75           9.54  ...        Manual     0         2021
2  2017           7.25           9.85  ...        Manual     0         2021
3  2011           2.85           4.15  ...        Manual     0         2021
4  2014           4.60           6.87  ...        Manual     0         2021

[5 rows x 9 columns]

In [14]:
final_dataset['no_year']=final_dataset['Current Year']- final_dataset['Year']

In [15]:
final_dataset.head()

   Year  Selling_Price  Present_Price  ...  Owner Current Year no_year
0  2014           3.35           5.59  ...      0         2021       7
1  2013           4.75           9.54  ...      0         2021       8
2  2017           7.25           9.85  ...      0         2021       4
3  2011           2.85           4.15  ...      0         2021      10
4  2014           4.60           6.87  ...      0         2021       7

[5 rows x 10 columns]

In [16]:
final_dataset.drop(['Year'],axis=1,inplace=True)

In [18]:
final_dataset.head()

   Selling_Price  Present_Price  Kms_Driven  ... Owner Current Year no_year
0           3.35           5.59       27000  ...     0         2021       7
1           4.75           9.54       43000  ...     0         2021       8
2           7.25           9.85        6900  ...     0         2021       4
3           2.85           4.15        5200  ...     0         2021      10
4           4.60           6.87       42450  ...     0         2021       7

[5 rows x 9 columns]

In [19]:
final_dataset=pd.get_dummies(final_dataset,drop_first=True)

In [20]:
final_dataset.head()

   Selling_Price  Present_Price  ...  Seller_Type_Individual  Transmission_Manual
0           3.35           5.59  ...                       0                    1
1           4.75           9.54  ...                       0                    1
2           7.25           9.85  ...                       0                    1
3           2.85           4.15  ...                       0                    1
4           4.60           6.87  ...                       0                    1

[5 rows x 10 columns]

In [21]:
final_dataset=final_dataset.drop(['Current Year'],axis=1)

In [22]:
final_dataset.head()

   Selling_Price  Present_Price  ...  Seller_Type_Individual  Transmission_Manual
0           3.35           5.59  ...                       0                    1
1           4.75           9.54  ...                       0                    1
2           7.25           9.85  ...                       0                    1
3           2.85           4.15  ...                       0                    1
4           4.60           6.87  ...                       0                    1

[5 rows x 9 columns]

In [23]:
X=final_dataset.iloc[:,1:]
y=final_dataset.iloc[:,0]

In [27]:
X.head()

   Present_Price  Kms_Driven  ...  Seller_Type_Individual  Transmission_Manual
0           5.59       27000  ...                       0                    1
1           9.54       43000  ...                       0                    1
2           9.85        6900  ...                       0                    1
3           4.15        5200  ...                       0                    1
4           6.87       42450  ...                       0                    1

[5 rows x 8 columns]

In [28]:
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

In [24]:
X['Owner'].unique()

array([0, 1, 3])

In [29]:
### Feature Importance

from sklearn.ensemble import ExtraTreesRegressor
import matplotlib.pyplot as plt
model = ExtraTreesRegressor()
model.fit(X,y)

ExtraTreesRegressor()

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [32]:
from sklearn.ensemble import RandomForestRegressor

In [33]:
regressor=RandomForestRegressor()

In [34]:
import numpy as np
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
print(n_estimators)

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200]

In [35]:
from sklearn.model_selection import RandomizedSearchCV

In [36]:
 #Randomized Search CV

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 30, num = 6)]
# max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10, 15, 100]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 5, 10]

In [41]:
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

print(random_grid)

{'n_estimators': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200], 'max_features': ['auto', 'sqrt'], 'max_depth': [5, 10, 15, 20, 25, 30], 'min_samples_split': [2, 5, 10, 15, 100], 'min_samples_leaf': [1, 2, 5, 10]}

In [37]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()

In [42]:
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid,scoring='neg_mean_squared_error', n_iter = 10, cv = 5, verbose=2, random_state=42, n_jobs = 1)

In [43]:
rf_random.fit(X_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   1.2s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   1.2s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   1.2s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   1.1s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   1.1s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   1.5s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   1.6s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   1.5s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   1.5s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   1.5s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.4s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.4s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.4s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.4s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.4s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.5s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.6s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.6s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.6s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.6s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   0.9s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   1.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   1.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   1.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   0.9s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   1.5s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   1.4s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   1.4s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   1.4s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   1.4s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   1.5s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   1.4s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   1.4s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   1.5s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   1.4s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   0.4s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   0.4s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   0.4s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   0.4s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   0.4s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   0.9s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   0.9s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   1.0s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   1.0s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   0.9s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   1.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   1.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   1.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   1.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   0.9s

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=1,
                   param_distributions={'max_depth': [5, 10, 15, 20, 25, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 10, 15,
                                                              100],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900, 1000, 1100,
                                                         1200]},
                   random_state=42, scoring='neg_mean_squared_error',
                   verbose=2)

In [44]:
predictions=rf_random.predict(X_test)

In [45]:
predictions

array([ 7.08355   ,  0.53803   ,  5.08587   ,  9.27547   , 16.83974   ,
        5.07459   ,  3.44043333,  0.76481   ,  4.74195   ,  4.5209    ,
        3.16938   ,  0.8767    ,  5.0438    ,  7.90034   ,  7.93524   ,
       10.51234   ,  7.33448   ,  4.11438333,  0.50956   ,  1.49925   ,
        4.05814   ,  4.70238   ,  5.60505   ,  9.48506   ,  0.23627   ,
        0.77081   ,  0.50555   ,  0.64718   ,  0.51928   ,  4.89147   ,
        5.34871   ,  5.83615   ,  0.52354   ,  8.75022   ,  3.42725   ,
        1.16012   ,  5.65803   ,  7.57623   ,  0.24222   ,  8.91214   ,
        9.30614   , 19.58993   ,  4.89438   ,  4.12033333,  5.4396    ,
       11.88087   ,  0.33243   ,  0.88803   ,  4.9911    ,  8.4061    ,
        7.5452    ,  3.55606   ,  4.6719    , 20.59879   ,  1.10365   ,
        1.07735   ,  0.49428   ,  2.7528    ,  3.7005    ,  1.23253   ,
        3.88442   ,  8.40393   ,  3.28568   , 20.98991   ,  4.16003333,
        5.54941   , 10.18281   ,  4.77969   ,  0.56053   ,  2.98675   ,
        3.41576   ,  3.02587   ,  0.63505   ,  5.46965   ,  0.804     ,
        2.99994   ,  0.50627   ,  9.11201   ,  1.14645   ,  2.7385    ,
        0.51443   , 10.16833   ,  7.66112   ,  5.5305    ,  5.14505   ,
        0.94577   ,  6.30459   ,  6.02605   ,  0.46527   ,  5.04994   ,
        0.59773   ])

In [46]:
import pickle
# open a file, where you ant to store the data
file = open('random_forest_regression_model.pkl', 'wb')

# dump information to that file
pickle.dump(rf_random, file)